<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>

    <div class="view-port">
      <aside class="nav">
        <ul class="nav-btn">
          <li class="self">self</li>
          <li class="message">message</li>
          <li class="friends">friends</li>
          <li class="collect">collect</li>
          <li class="setting">setting</li>
        </ul>
      </aside>


      <div class="chat-box">
        <div class="search-bar">
          <input type="input" placeholder="搜索" class="search-box">
            <span class="icon-search">x</span>
          </input>
          <button>+</button>

        </div>
        <ul class="contact-list">
          <li>
            <span class="avatar"></span>
            <div class="detail">
              <span class="name">深圳技术研发中心</span>
              <span class="lastest">马超：我是</span>
              <span class="time">16:02</span>
              <i class="fix">fix</i>
            </div>
          </li>

           <li>
            <span class="avatar"></span>
            <div class="detail">
              <span class="name">深圳技术研发中心</span>
              <span class="lastest">马超：我是</span>
              <span class="time">16:02</span>
              <i class="fix">fix</i>
            </div>
          </li>

           <li>
            <span class="avatar"></span>
            <div class="detail">
              <span class="name">深圳技术研发中心</span>
              <span class="lastest">马超：我是</span>
              <span class="time">16:02</span>
              <i class="fix">fix</i>
            </div>
          </li>

           <li>
            <span class="avatar"></span>
            <div class="detail">
              <span class="name">深圳技术研发中心</span>
              <span class="lastest">马超：我是</span>
              <span class="time">16:02</span>
              <i class="fix">fix</i>
            </div>
          </li>

           <li>
            <span class="avatar"></span>
            <div class="detail">
              <span class="name">深圳技术研发中心</span>
              <span class="lastest">马超：我是</span>
              <span class="time">16:02</span>
              <i class="fix">fix</i>
            </div>
          </li>

           <li>
            <span class="avatar"></span>
            <div class="detail">
              <span class="name">深圳技术研发中心</span>
              <span class="lastest">马超：我是</span>
              <span class="time">16:02</span>
              <i class="fix">fix</i>
            </div>
          </li>

           <li>
            <span class="avatar"></span>
            <div class="detail">
              <span class="name">深圳技术研发中心</span>
              <span class="lastest">马超：我是</span>
              <span class="time">16:02</span>
              <i class="fix">fix</i>
            </div>
          </li>

           <li>
            <span class="avatar"></span>
            <div class="detail">
              <span class="name">深圳技术研发中心</span>
              <span class="lastest">马超：我是</span>
              <span class="time">16:02</span>
              <i class="fix">fix</i>
            </div>
          </li>

          <li>
            <span class="avatar"></span>
            <div class="detail">
              <span class="name">深圳技术研发中心</span>
              <span class="lastest">马超：我是</span>
              <span class="time">16:02</span>
              <i class="fix">fix</i>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </body>
</html>
